<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>Fares</title>
    <script>
        var session = {
            date: new Date(Number("${now.time}")).setHours(0,0,0,0),    // the current date without time
            time: new Date(Number("${now.time}")),                      // the current date with time
            // user: "${user}",                                            // the session user
            // the language is page language
            other: [],                                                  // the other use for create request for other
            context: '/' + (window.location.pathname.split('/')[1]),    // the context path
        };
        var _language = window.session.lang;
    </script>
    <style>
        /*@media only screen*/
        /*and (min-width : 1024px) {*/
            /*@media print{*/
                /*.element#check768{*/
                    /*display: none;*/
                /*}*/
            /*}*/
        /*}*/

        .well{
            margin-top: 5px;
            margin-left: 50px;
        }
        .changeWell{
            margin-top: 10px;
            margin-left: 0px;
        }

        .wellWidth720{
            width: 720px;
        }
        .wellWidth8000{
            padding-right: 0px;
            padding-left: 0px;
            width: 800px;
        }
        .btn270{
            width: 270px;
        }
        .btn160{
            width: 160px;
            padding-left: 5px;"
        }
        #h5Table{
            background-color: grey;
            text-align: center;
        }
        .table thead th{
            color: #0a0a0a;
        }
        input[type='text']
        {
            position: relative;
            z-index: 10000;
        }

        .ui-autocomplete {
            z-index: 9999 !important;
        }
        #tbodyFares >tr>td{
            padding-left: 2px;
            padding-right: 2px;
        }

        /*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
        @media
        only screen and (max-width: 760px),
        (min-device-width: 414px) and (max-device-width: 980px)  {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr { border: 1px solid #ccc; }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }


    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/lib/awe-booking-font.css">
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/lib/jquery-ui.css">
    <!-- REVOLUTION DEMO -->
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/revslider-demo/css/settings.css">


    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Fares/HtmlTemplate/css/demo.css">

    <!-- CSS COLOR -->
    <link id="colorreplace" rel="stylesheet" type="text/css" href="/resources/HtmlTemplate/css/colors/blue.css">


    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- PAGE WRAP -->
<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <!-- END / PRELOADER -->

    <!-- HEADER PAGE -->
    <header id="header-page">
        <div class="header-page__inner">
            <div class="container">
                <!-- LOGO -->
                <div class="logo">
                    <a href="#"><img src="/Fares/HtmlTemplate/images/logo.png" alt=""></a>
                </div>
                <!-- END / LOGO -->

                <!-- NAVIGATION -->
                <nav class="navigation awe-navigation" data-responsive="1200">
                    <!--<ul class="menu-list">-->
                        <!--<li class="menu-item-has-children current-menu-parent">-->
                            <!--<a href="index.html">Home</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--&lt;!&ndash;<li class="current-menu-item"><a href="index.html">Home 1</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="index2.html">Home 2</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="index3.html">Menu hamburger</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="index-dark.html">Home 1 (Dark)</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="index2-dark.html">Home 2 (Dark)</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="index3-dark.html">Menu hamburger (Dark)</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="destinations-list.html">Destinations</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li><a href="destinations-list.html">List</a></li>-->
                                <!--<li><a href="destinations-grid.html">Grid</a></li>-->
                                <!--<li class="menu-item-has-children">-->
                                    <!--<a href="destinations-trip.html">Detail</a>-->
                                    <!--<ul class="sub-menu">-->
                                        <!--&lt;!&ndash;<li><a href="destinations-trip.html">Trips in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-hotel.html">Hotels in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-attraction.html">Attraction in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-flight.html">Flights in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-train.html">Train in destination</a></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a href="destinations-list-dark.html">List (Dark)</a></li>-->
                                <!--<li><a href="destinations-grid-dark.html">Grid (Dark)</a></li>-->
                                <!--<li class="menu-item-has-children">-->
                                    <!--<a href="destinations-trip.html">Detail (Dark)</a>-->
                                    <!--<ul class="sub-menu">-->
                                        <!--&lt;!&ndash;<li><a href="destinations-trip-dark.html">Trips in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-hotel-dark.html">Hotels in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-attraction-dark.html">Attraction in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-flight-dark.html">Flights in destination</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="destinations-train-dark.html">Train in destination</a></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="trip.html">Trips</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--&lt;!&ndash;<li><a href="trip.html">Trips</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="trip-detail.html">Trips Detail</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="trip-dark.html">Trips (Dark)</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="trip-detail-dark.html">Trips Detail (Dark)</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="hotel.html">Hotel</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--&lt;!&ndash;<li><a href="hotel.html">Hotel</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="hotel-detail.html">Hotel Detail</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="hotel-dark.html">Hotel (Dark)</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="hotel-detail-dark.html">Hotel Detail (Dark)</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="flight.html">Flight</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--&lt;!&ndash;<li><a href="flight.html">Flight</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="flight-detail.html">Flight Detail</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="flight-dark.html">Flight (Dark)</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="flight-detail-dark.html">Flight Detail (Dark)</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="train.html">Train</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--&lt;!&ndash;<li><a href="train.html">Train</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="train-detail.html">Train Detail</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="train-dark.html">Train (Dark)</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="train-detail-dark.html">Train Detail (Dark)</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="attraction.html">Attraction</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--&lt;!&ndash;<li><a href="attraction.html">Attraction</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="attraction-detail.html">Attraction Detail</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="attraction-dark.html">Attraction (Dark)</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="attraction-detail-dark.html">Attraction Detail (Dark)</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="#">Pages</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--<li class="menu-item-has-children">-->
                                    <!--<a href="blog.html">Blog</a>-->
                                    <!--<ul class="sub-menu">-->
                                        <!--&lt;!&ndash;<li><a href="blog.html">Blog</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="single-post.html">Single Post</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="blog-dark.html">Blog (Dark)</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="single-post-dark.html">Single Post (Dark)</a></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li class="menu-item-has-children">-->
                                    <!--<a href="login.html">Log In</a>-->
                                    <!--<ul class="sub-menu">-->
                                        <!--&lt;!&ndash;<li><a href="login.html">Log In</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="register.html">Register</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="login.html">Log In (Dark)</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="register.html">Register (Dark)</a></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li class="menu-item-has-children">-->
                                    <!--<a href="checkout-yourcart.html">Checkout</a>-->
                                    <!--<ul class="sub-menu">-->
                                        <!--&lt;!&ndash;<li><a href="checkout-yourcart.html">Your cart</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="checkout-customer.html">Customer</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="checkout-complete.html">Complete</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="checkout-yourcart-dark.html">Your cart (Dark)</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="checkout-customer-dark.html">Customer (Dark)</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li><a href="checkout-complete-dark.html">Complete (Dark)</a></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</li>-->
                                <!--<li><a href="shortcode.html">Shortcode</a></li>-->

                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="menu-item-has-children">-->
                            <!--<a href="contact.html">Contact</a>-->
                            <!--<ul class="sub-menu">-->
                                <!--&lt;!&ndash;<li><a href="contact.html">Light</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="contact-dark.html">Dark</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                </nav>
                <!-- END / NAVIGATION -->

                <!-- SEARCH BOX -->
                <div class="search-box">
                    <span class="searchtoggle"><i class="awe-icon awe-icon-search"></i></span>
                    <form class="form-search">
                        <div class="form-item">
                            <input type="text" value="Search &amp; hit enter">
                        </div>
                    </form>
                </div>
                <!-- END / SEARCH BOX -->


                <!-- TOGGLE MENU RESPONSIVE -->
                <a class="toggle-menu-responsive" href="#">
                    <div class="hamburger">
                        <span class="item item-1"></span>
                        <span class="item item-2"></span>
                        <span class="item item-3"></span>
                    </div>
                </a>
                <!-- END / TOGGLE MENU RESPONSIVE -->

            </div>
        </div>
    </header>
    <!-- END / HEADER PAGE -->

    <!-- HERO SECTION -->
    <section class="hero-section">
        <div id="slider-revolution">
            <ul>
                <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 1">
                    <img src="/Fares/HtmlTemplate/images/bg/1.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-1" data-x="500" data-y="230" data-speed="700" data-start="1500" data-easing="easeOutBack">
                        คำนวณค่าใช้จ่ายก่อนออกเดินทาง
                    </div>

                    <div class="tp-caption sfb fadeout slider-caption slider-caption-1" data-x="center" data-y="280" data-speed="700" data-easing="easeOutBack"  data-start="2000">สถานที่ท่องเที่ยวภายในประเทศ</div>

                    <a href="#" class="tp-caption sfb fadeout awe-btn awe-btn-style3 awe-btn-slider" data-x="center" data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">Book now</a>
                </li>

                <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 2">
                    <img src="/Fares/HtmlTemplate/images/bg/2.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                    <div class="tp-caption  sft fadeout slider-caption-sub slider-caption-sub-2" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                        ค้นหาสถานที่ของคุณ
                    </div>

                    <div class="tp-caption sft fadeout slider-caption slider-caption-2" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack"  data-start="2000">
                        เดินทางไปกับเรา
                    </div>

                    <a href="#" class="tp-caption sft fadeout awe-btn awe-btn-style3 awe-btn-slider" data-x="center" data-y="370" data-easing="easeOutBack" data-speed="700" data-start="2200">Book now</a>
                </li>

                <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 3">
                    <img src="/Fares/HtmlTemplate/images/bg/3.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                    <div class="tp-caption lfl fadeout slider-caption slider-caption-3" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack"  data-start="1500">
                        ระบบคำนวณราคาอัตราค่าโดยสาร
                    </div>

                    <div href="#" class="tp-caption lfr fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2000">Take you to every corner of the Thailand.</div>
                </li>

            </ul>
        </div>
    </section>
    <!-- END / HERO SECTION -->

    <!-- SEARCH TABS -->
    <div>
        <div class="container" >
            <div class="row">
                <div class="col-sm-3" id="check768">
                    <div class="form-horizontal">
                        <div class="awe-search-tabs tabs col-am-3" style="width: 310px;">
                            <ul>
                                <li>
                                    <a href="#awe-search-tabs-1">
                                        <i class="awe-icon awe-icon-list"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#awe-search-tabs-2">
                                        <i class="awe-icon awe-icon-plane"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#awe-search-tabs-3">
                                        <i class="awe-icon awe-icon-train"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#awe-search-tabs-4">
                                        <i class="awe-icon awe-icon-bus"></i>
                                    </a>
                                </li>
                            </ul>
                            <!--Tab 1-->
                            <div class="awe-search-tabs__content tabs__content col-sm-3 " style="width: 310px;"  autocomplete="on">
                                <div id="awe-search-tabs-1" class="search-flight">
                                    <h5>ค้นหาราคาค่าโดยสาร.</h5>
                                    <div class="form-elements">
                                        <label>สถานที่ต้นทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1" ></i>
                                            <input type="text" id="textAllFaresSource" placeholder="กรุงเทพ, ประเทศไทย"  data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label>สถานที่ปลายทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" id="textAllFaresDestination"  placeholder="เชียงใหม่, ประเทศไทย"  data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label></label>
                                        <div class="col-sm-offset-2">
                                            <button id="btnTextAllOK" class="btn btn-sm-9 btn-primary"  data-dismiss="modal" >OK</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Tab 2-->
                                <div id="awe-search-tabs-2" class="search-flight">
                                    <h5>ค้นหา(เครื่องบิน.)</h5>
                                    <div class="form-elements">
                                        <label>สถานที่ต้นทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" id="textFlightSource"  placeholder="กรุงเทพ, ประเทศไทย" data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label>สถานที่ปลายทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" id="textFlightDestination"  placeholder="เชียงใหม่, ประเทศไทย"  data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label></label>
                                        <div class="col-sm-offset-2">
                                            <button id="btnFlightOk" class="btn btn-sm-9 btn-primary"  data-dismiss="modal" >OK</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Tab 3-->
                                <div id="awe-search-tabs-3" class="search-flight">
                                    <h5>ค้นหา(รถไฟ.)</h5>
                                    <div class="form-elements">
                                        <label>สถานที่ต้นทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" id="textTrainSource" placeholder="กรุงเทพ, ประเทศไทย"  data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label>สถานที่ปลายทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" id="textTrainDestination" placeholder="เชียงใหม่, ประเทศไทย"  data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label></label>
                                        <div class="col-sm-offset-2">
                                            <button id="btnTrainOk" class="btn btn-sm-9 btn-primary"  data-dismiss="modal" >OK</button>
                                        </div>
                                    </div>
                                </div>
                                <!--Tab 4-->
                                <div id="awe-search-tabs-4" class="search-flight">
                                    <h5>ค้นหา(บขส.)</h5>
                                    <div class="form-elements">
                                        <label>สถานที่ต้นทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" id="textBusSource" placeholder="กรุงเทพ, ประเทศไทย"  data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label>สถานที่ปลายทาง</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" id="textBusDestination" placeholder="เชียงใหม่, ประเทศไทย"  data-toggle="tooltip" title="กรุณาระบุ"/>
                                        </div>
                                    </div>
                                    <div class="form-elements">
                                        <label></label>
                                        <div class="col-sm-offset-2">
                                            <button id="btnBusOk" class="btn btn-sm-9 btn-primary"  data-dismiss="modal" >OK</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 " >
                    <div class="form-horizontal">
                        <div class="well" id="wellCustom"  >
                            <form class="form-horizontal">
                                <div id="tableHeader">
                                    <h5 id="h5Table">ตารางราคา</h5>
                                </div>
                                <table class="table table-responsive" id="tableFares" style="width: 100%" >
                                    <thead>
                                    <th>สถานที่ต้นทาง</th>
                                    <th>สถานที่ปลายทาง</th>
                                    <th>ราคา(บาท)</th>
                                    <th>พาหนะเดินทาง</th>
                                    <th>บริษัท</th>
                                    <th>โปรโมชั่น</th>
                                    <th>ชื่อโปรโมชั่น</th>
                                    <th>ส่วนลด(บาท)</th>
                                    <th>ราคาสุทธิ(บาท)</th>
                                    </thead>
                                    <tbody id="tbodyFares" class="table table-responsive" >

                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            <!--row-->
            </div>
        </div>
    </section>
    <!-- END / SEARCH TABS -->




    <section class="sale-flights-section-demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER PAGE -->
    <footer id="footer-page">
        <div class="container">
            <div class="row">
                <!-- WIDGET -->
                <div class="col-md-3">
                    <div class="widget widget_contact_info">
                        <div class="widget_background">
                            <div class="widget_background__half">
                                <div class="bg"></div>
                            </div>
                            <div class="widget_background__half">
                                <div class="bg"></div>
                            </div>
                        </div>
                        <div class="logo">
                            <img src="/Fares/HtmlTemplate/images/logo-footer.png" alt="">
                        </div>
                        <div class="widget_content">
                            <p>25 California Avenue, Santa Monica, California. USA</p>
                            <p>+1-888-8765-1234</p>
                            <a href="#">contact@gofar.com</a>
                        </div>
                    </div>
                </div>
                <!-- END / WIDGET -->

                <!-- WIDGET -->
                <div class="col-md-2">
                    <div class="widget widget_about_us">
                        <h3>About Us</h3>
                        <div class="widget_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel dignissim dolor. Ut risus orci, aliquam sit amet semper eget, egestas aliquam felis.</p>
                        </div>
                    </div>
                </div>
                <!-- END / WIDGET -->

                <!-- WIDGET -->
                <div class="col-md-2">
                    <div class="widget widget_categories">
                        <h3>Categiries</h3>
                        <ul>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Regions</a></li>
                            <li><a href="#">Cities</a></li>
                            <li><a href="#">Districts</a></li>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Places of interest</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END / WIDGET -->

                <!-- WIDGET -->
                <div class="col-md-2">
                    <div class="widget widget_recent_entries">
                        <h3>Recent Blog</h3>
                        <ul>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Regions</a></li>
                            <li><a href="#">Cities</a></li>
                            <li><a href="#">Districts</a></li>
                            <li><a href="#">Countries</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Places of interest</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END / WIDGET -->

                <!-- WIDGET -->
                <div class="col-md-3">
                    <div class="widget widget_follow_us">
                        <div class="widget_content">
                            <p>For Special booking request, please call</p>
                            <span class="phone">099-099-000</span>
                            <div class="awe-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END / WIDGET -->
            </div>
            <div class="copyright">
                <p>©2015 GOFAR travel™ All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- END / FOOTER PAGE -->

</div>
<!-- END / PAGE WRAP -->


<!-- LOAD JQUERY -->
<script type="text/javascript" src="/Fares/HtmlTemplate/js/lib/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/Fares/HtmlTemplate/js/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/Fares/HtmlTemplate/js/lib/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/Fares/HtmlTemplate/js/lib/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="/Fares/HtmlTemplate/js/lib/theia-sticky-sidebar.js"></script>
<script type="text/javascript" src="/Fares/HtmlTemplate/js/lib/jquery.magnific-popup.min.js"></script>
<script type='text/javascript' src="/Fares/HtmlTemplate/js/lib/jquery-ui.js"></script>
<script type="text/javascript" src="/Fares/HtmlTemplate/js/scripts.js"></script>
<script type="text/javascript" src="/Fares/scripts/faresJs/showFares.js"></script>

<!-- REVOLUTION DEMO -->
<script type="text/javascript" src="/Fares/HtmlTemplate/revslider-demo/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/Fares/HtmlTemplate/revslider-demo/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript">
    if($('#slider-revolution').length) {
        $('#slider-revolution').show().revolution({
            ottedOverlay:"none",
            delay:10000,
            startwidth:1600,
            startheight:650,
            hideThumbs:200,

            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:5,


            simplifyAll:"off",

            navigationType:"none",
            navigationArrows:"solo",
            navigationStyle:"preview4",

            touchenabled:"on",
            onHoverStop:"on",
            nextSlideOnWindowFocus:"off",

            swipe_threshold: 0.7,
            swipe_min_touches: 1,
            drag_block_vertical: false,

            parallax:"mouse",
            parallaxBgFreeze:"on",
            parallaxLevels:[7,4,3,2,5,4,3,2,1,0],


            keyboardNavigation:"off",

            navigationHAlign:"center",
            navigationVAlign:"bottom",
            navigationHOffset:0,
            navigationVOffset:20,

            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:20,
            soloArrowLeftVOffset:0,

            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:20,
            soloArrowRightVOffset:0,

            shadow:0,
            fullWidth:"on",
            fullScreen:"off",

            spinner:"spinner2",

            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,

            shuffle:"off",

            autoHeight:"off",
            forceFullWidth:"off",



            hideThumbsOnMobile:"off",
            hideNavDelayOnMobile:1500,
            hideBulletsOnMobile:"off",
            hideArrowsOnMobile:"off",
            hideThumbsUnderResolution:0,

            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0
        });
    }
</script>
</div>
</body>
</html>